:root {
    --background: #191919;
    --navbg: #202020;
    --element: #393939;

    --accent: #803361; /*#2f2f2f;*/
    --white: #D4D4D4;
}

* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  background-color: var(--background);

  position: fixed;

}


::-webkit-scrollbar{
    display: none;
}



