:root {
    --background: #191919;
    --navbg: #202020;
    --element: #393939;

    --accent: #803361; /*#2f2f2f;*/
    --white: #D4D4D4;
}

* {
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  background-color: var(--background);

  position: fixed;

}

/*==== NAV BAR */
/* Style Navbar */
#sidenav {
    border-color: var(--accent);
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;

    width: 200px;
    position: fixed;

    z-index: 1;
    top: 10px;
    bottom: 10px;
    left: 10px;

    background-color: var(--navbg);
    color: var(--white);
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

/* Style Navbar Elements*/
.sidenav-elem {
    font-size: medium;
    font-weight: bolder;
    color: var(--white);
    text-align: left;

    width: 180px;
    background: var(--element);
    padding: 5px;

    border-radius: 10px;
    border-style: none;

    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 2px;
}

.sidenav-elem:hover {
    background-color: var(--white);
    color: black;
}

.sidenav-hr {
    border: 1px solid var(--accent);
    width: 180px;
}

/* Style Icons */
.icon::before {
    border-right: 2px solid var(--accent);
    padding-right: 5px;
    margin-right: 10px;
}

#loadStatblockBtn::before {
    content: url("lucide/upload.svg");
}

#addSBInput {
    width: 50px;
}

#numLoadInput {
    display: none;
}

#addSBBtn {
    background-color: transparent;
    padding: 0;
    border-style: none;
    border-right: 2px solid var(--accent);
    padding-right: 5px;
    margin-right: 10px;
}

#addSBBtn::before {
    content: url(lucide/plus.svg);
}

#addSBBtn:hover {
    background-color: var(--accent);
}

#rollInitiativeBtn::before {
    content: url("lucide/dices.svg");
}

/* Style Initiativelist*/
.initiativeList {
    background-color: var(--element);
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    border-radius: 5px;
}

.initiativeList li {
    list-style: none;
    padding: 0;
    width: 100%;

    border-bottom: 1px solid var(--navbg);
}

.initiativeList li button {
    background-color: transparent;
    color: inherit;
    width: 80%;
    height: 100%;
    border-style: none;

    font-size: medium;
    text-align: left;

    padding-bottom: 5px;
    padding-top: 5px;
}

.initiativeList li:hover {
    background-color: var(--white);
    color: var(--background);
}

.currentTurn {
    background-color: var(--accent);
    /*border: 2px solid var(--accent);*/
}

/*===== CONTENT*/
.content {
    color: var(--white);

    left: 210px;
    right: 0;

    height: 100%;

    position: fixed;

    margin: 5px;
}

.bordered {
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid var(--element);
    border-radius: 5px;
    padding: 5px;
}

#topSection {
    position: absolute;
    top: 0;
    height: 65%;

    width: 100%;
}

#rightTopSection{
    position: absolute;
    left: 21%;
    right: 0;

    height: 100%;
}

#actionDisplay {
    position: absolute;
    top: 0;
    height: 68%;

    width: 99%;

}

#conditionDisplay {
    position: absolute;
    height: 28%;
    bottom: 0;
    width: 99%;
}

#statBar {
    position: absolute;
    left: 0;
    width: 20%;
    top: 0;
    bottom: 0;
}

#statusBar {
    position: absolute;
    bottom: 30%;
    height: 5%;
    width: 100%;
    background-color: var(--element);
    border: none;
    border-radius: 5px;
}

#output {
    position: absolute;
    top: 70%;
    height: 28%;

    width: 99%;
    background-color: var(--navbg);
}



