
.bordered {
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 0.5%;
}

#topSection {
    position: absolute;
    top: 0;
    height: calc(70% - 35px);

    width: 100%;
}

#rightTopSection{
    position: absolute;
    left: 155px;
    right: 0;

    height: 100%;
}

#statBar {
    position: absolute;
    left: 0;
    width: 150px;
    top: 0;
    bottom: 0;
}

#tabsDisplay {
    position: absolute;
    top: 0px;
    height: 26px;
    width: 100%;
}

#tabsContent {
    position: absolute;
    top: 25px;
    height: calc(70% - 25px - 5px);
    width: calc(100% - 5px);
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#conditionDisplay {
    position: absolute;
    height: calc(30% - 5px);
    bottom: 0;
    width: calc(100% - 5px);
}

#statusBar {
    position: absolute;
    bottom: 30%;
    height: 35px;
    width: 100%;
    background-color: var(--element);
    border: none;
    border-radius: 5px;
}

#output {
    position: absolute;
    top: 70%;
    height: calc(30% - 15px);

    width: calc(100% - 5px);
    background-color: var(--navbg);
}