
.bordered {
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid var(--accent);
    border-radius: 5px;
    padding: 0.5%;
}

#topSection {
    position: absolute;
    top: 0;
    height: 65%;

    width: 100%;
}

#rightTopSection{
    position: absolute;
    left: calc(20% + 5px);
    right: 0;

    height: 100%;
}

#statBar {
    position: absolute;
    left: 0;
    width: 20%;
    top: 0;
    bottom: 0;
}

#actionDisplay {
    position: absolute;
    top: 30px;
    height: calc(70% - 30px - 10px);

    width: calc(100% - 5px);

}

#conditionDisplay {
    position: absolute;
    height: calc(30% - 5px);
    bottom: 0;
    width: calc(100% - 5px);
}

#statusBar {
    position: absolute;
    bottom: 30%;
    height: 5%;
    width: 100%;
    background-color: var(--element);
    border: none;
    border-radius: 5px;
}

#output {
    position: absolute;
    top: 70%;
    height: calc(30% - 15px);

    width: calc(100% - 5px);
    background-color: var(--navbg);
}