/* Tab Content */
.tabContent {
    width: 100%;
}

#tabsContent {
    display: flex;
    flex-direction: column;

    align-items: center;
    overflow-y: scroll;
}

.tabElemBlock {
    display: flex;
    flex-direction: column;

    background-color: var(--navbg);
    width: 98%;
    border-radius: 10px;
    margin-top: 5px;
}

/* - Header */

.tabElemHeader {
    display: flex;
    background-color: var(--element);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.collapsed .tabElemHeader {
    border-radius: 5px;
}

.tabElemHeader header {
    padding: 5px;
    cursor: pointer;
}
.tabElemHeader header:hover {
    background-color: var(--white);
    color: black;
}

.nameHeader {
    border-top-left-radius: 5px;
    border-right: 2px solid var(--accent);
    min-width: 30%;
}
.collapsed .tabElemHeader .nameHeader {
    border-bottom-left-radius: 5px;
}

.useHeader {
    border-top-right-radius: 5px;
    flex: 1;
}
.collapsed .tabElemHeader .useHeader {
    border-bottom-right-radius: 5px;
}

/* Content */

.tabElemBlock p {
    margin: 0px;
    
    font-size: small;
    font-weight: normal;

    max-height: 100px;
    overflow-y: scroll;
}
.collapsed p {
    display: none;
}