.headerButton {
    margin: 2px;

    border: none;
    border-radius: 8px;
    padding-top: 5px;

    box-shadow: 0px 1px 1px black;
    background-color: var(--bg-z8);
    cursor: pointer;
}

.headerButton:hover {
    background-color: var(--inverse);
}

.statblockButtonDiv {
    display: flex;
    flex-direction: row;

    /* width: 100%; */
    margin: 3px;
    box-shadow: 1px 1px 1px black;
}

button {
    background-color: var(--bg-z4);
    color: var(--bg-text);
}
.statblockMainButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;
    padding: 3px;

    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.statblockMainButton:hover {
    background-color: var(--bg-z5);
}

.sbName {
    flex-grow: 1;
}

.sbID {
    margin-left: 5px;
    padding-left: 5px;
    width: 20px;


    border: 1px solid var(--primary);
    border-radius: 3px;
}

.statblockInitButton {
    width: 30px;
    color: var(--primary-text);

    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-left: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
